<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item href="#/app/settings" menu-close>
          Settings
        </ion-item>
        <ion-item href="#/app/update" menu-close>
          Update
        </ion-item>
        <ion-item href="#/app/qa" menu-close>
          Qa
        </ion-item>
        <ion-item href="#/app/videos" menu-close>
          Videos
        </ion-item>
        <ion-item href="#/app/leaderboard" menu-close>
          leaderboard
        </ion-item>
        <ion-item href="#/app/bookmarks" menu-close>
          bookmarks
        </ion-item>
        <ion-item href="#/app/testlist" menu-close>
          test
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
