<ion-view view-title="game">
  <ion-content>
    <div class="list card">
      <div class="item item-body">
        <p>
          {{card.question}}
        </p>
      </div>
    </div>
    <ion-list>
      <ion-radio ng-model="userAns" ng-value="'a'">{{card.a}}</ion-radio>
      <ion-radio ng-model="userAns" ng-value="'b'">{{card.b}}</ion-radio>
      <ion-radio ng-model="userAns" ng-value="'c'">{{card.c}}</ion-radio>
      <ion-radio ng-model="userAns" ng-value="'d'">{{card.d}}</ion-radio>
    </ion-list>
    <button ng-if="counter < totalCards-1" ng-click="next(userAns)" class="button button-energized">Next</button>
    <button ng-if="counter == totalCards-1" ng-click="end(userAns)" class="button button-energized">End</button>
    <button ng-click="userAns = false" class="button button-energized">Unselect</button>
    <button ng-click="bookmark()" class="button button-outline icon-right ion-bookmark button-assertive">Bookmark</button>
    {{card.timing}}
  </ion-content>
</ion-view>
