<ion-view view-title="Settings">
  <ion-content scroll="false">
    <ion-list>
      <ion-radio ng-model="choice" ng-value="true">Vgpt Intranet<br></ion-radio>
      <ion-radio ng-model="choice" ng-value="false">Internet</ion-radio>
      <ion-item><button class="button button-balanced" ng-click="saveSettings(choice)">Submit</button></ion-item>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer">
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="password" ng-model="password">
      </label>
      <button class="button button-small" ng-click="enterPermanentSettings(password)">
        Submit
      </button>
      <button class="button button-small" ng-click="delDB()">
        delete db
      </button>
    </div>
  </div>
</ion-view>
