<!--<ion-view view-title="Videos">
  <ion-content>
    <ion-list>
      <ion-item href="#/app/videos/physics">
        Physics
      </ion-item>
      <ion-item href="#/app/videos/chemistry">
        Chemistry
      </ion-item>
      <ion-item href="#/app/videos/maths">
        Maths
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>-->
<ion-view view-title="Choose Subject">
    <ion-content  class="grey">
     <div class="container">
      <a href="#/app/videos/maths" class="subject-image item item-image">
       <img src="img/maths.jpg">
     </a></br>
      <a href="#/app/videos/chemistry" class="subject-image item item-image">
       <img  src="img/chem.jpg">
     </a></br>
      <a href="#/app/videos/physics" class="subject-image item item-image">
        <img src="img/phy.png">
      </a>
     </div>
   </ion-content>
</ion-view>
